:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Figtree", sans-serif;
    font-size: 1rem;

    background-color: var(--yellow);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 90%;
    margin-inline: auto;
}

.article {
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 384px;
    gap: 12px;
    border: 1px solid var(--gray-950);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 8px 8px 0 0 hsl(0, 0%, 0%);
}

.article > img {
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tag {
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--gray-950);
    line-height: 150%;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--yellow);
}

.article-details > span {
    line-height: 150%;
    font-size: 14px;
    font-weight: 500;
}

.article-content > a,
.article-content > a > h2 {
    font-size: 20px;
    font-weight: 800;

    color: var(--gray-950);
    text-decoration: none;

    -webkit-transition: color 1s;
    transition: color .5s;
}

.article-content > a:hover,
.article-content > a > h2:hover {
    color: var(--yellow);
    cursor: pointer;
}

.article-content p {
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    color: var(--gray-500);
}

.article-author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.article-author > span {
    line-height: 150%;
    font-size: 14px;
    font-weight: 700;
}


@media only screen and (min-width: 375px) {
    .article { gap: 24px; }

    .article-content p {
        line-height: 150%;
    }

    .article-content > a {
        line-height: 150%;
        font-size: 24px;
    }
}

@media only screen and (min-width: 425px) {
    .container {
        max-width: 100%;
        margin-inline: unset;
    }
}